.page-home {

    @include font-averta-regular;

    a {
        color: $black;
    }

    .map {
        width: 100%;
        min-height: 500px;
        height: 60vh;
        border: 10px solid black;
        iframe {
            width: 100%;
            height: 100%;
        }
    }

}
