h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: normal;
}

a {
    color: rgb(9, 18, 143);
    text-decoration: none;
}

.text-uppercase {
    text-transform: uppercase;
}
